<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
 <title>Vehicle Monitoring App</title>
 <script th:src="@{/angular.min.js}"></script>      
 
 <!-- <link th:href="@{/main.css}" rel="stylesheet" /> -->
 <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
 <script th:src="@{/main.js}"></script>
</head>
<body ng-app="VehicleManagement" ng-controller="VehicleController">
<div class="container">

<h1>Vehicle Information</h1>

 <table class="table table-striped table-hover">
 
         <tr>
            <th>Vehicle Number</th>
            <th>Vehicle Name</th>
            <th>Customer Name</th> 
            <th>Status</th>
         </tr>
         <tr>
 			<td><input placeholder="Search Vehicle Number" ng-model="search.strVehicleNumber"></td>
			<td><input placeholder="Search Vehicle Name" ng-model="search.strVehicleName"></td>
 			<td><input placeholder="Search Customer Name" ng-model="search.strCustName"></td>
			<td><input placeholder="Search Vehicle Status" ng-model="search.strVehicleStatus"></td>
		</tr>
         <!-- $scope.employees -->
         <tr ng-repeat="vehicle in vehicles | filter:search:strict">
            <td> {{ vehicle.strVehicleNumber }}</td>
            <td> {{ vehicle.strVehicleName }}</td> 
            <td> {{ vehicle.strCustName }}</td>
            <td> {{ vehicle.strVehicleStatus }}</td>
         </tr>
 </table>
</div>
</body>
</html>